/*----------------------General settings-----------------------------*/
:root {
    --size-w: 1000px;
    --size-h: 500px;
}

body {
    font-family: Montserrat, 'Open Sans', sans-serif, Calibri;
    font-size: 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header, address, address ul, nav ul, header > figure,
    header figcaption, header > div, header > div > address {
    display: flex;
}

nav, header > div {
    width: 100%;
}    

@media screen and (min-width: 329px) and (max-width: 767px) {
   
/*----------------------Header-----------------------------*/
    header {
        min-width: calc(var(--size-w) - 700px);
        max-width: calc(var(--size-w) - 233px);
        flex-direction: column;
        justify-content: space-between;
        background: black;
        color: white;
    }

    div address a:nth-child(even) {
        display: none;
    }

    header > div {
        margin-block-start: 0.6em;
        font-size: 0.6em;
        font-style: inherit;
        flex-direction: row;
        justify-content: space-between;
    }

    header > div > figure {
        margin-inline-start: 5%;
    }

    .logo-img {
        transform: scale(0.5);
    }

    header > div > address {
        width: 50%;
        margin-block-start: 1.7em;
        padding-top: 1%;
        flex-direction: row;
        justify-content: space-around;
    }

    div address  img {
        width: 33px;
        height: 27px;
        margin-top: -3px;
        transform: scale(0.6);
    }

    div > a {
        margin-right: 5%;
    }    

    div > a img {
        width: 30px;
        height: 28px;
        margin-top: 16px;
        transform: scale(0.75);
    }

    .button-log {
        display: none;
    }
   
    header > figure {
        width: 100%;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-block-start: 0em;
        margin-block-end: -3em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    header figcaption {
        width: 95%;
        position: absolute;
        top: 16%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure > figcaption p {
        width: 100%;
        text-align: center;
        line-height: 108%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 2.6em;
        font-weight: bold;
        color: #131210;
        text-transform: uppercase;
    }

    figure > figcaption p:nth-of-type(n+2) {
        width: 28%;
    }
    header p {
        font-size: 0.6em;
        text-align: center;
    }
    .mers {
        transform: scale(0.35);
    }

    .area-circles {
        top: 75%;
        right: 38%;
        width: 20%;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(60, 60, 60, 1);
    }
    
    .circle-color {
        background-color: rgba(19, 94, 197, 1);
    }
    
    nav ul {
        font-size: 1em;
        font-weight: bold;
        color: #3C3C3C;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        padding-inline-start: 0px;
    }

    nav ul li:nth-child(4) {
    display: none;
    }

    nav li:hover {
        color: #535353;
        cursor: pointer;
    }

    input {
        padding-top: 8%;
        padding-bottom: 8%;
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        border-width: 0px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
      }

    nav div {
        padding-top: 3%;
        padding-bottom: 12%;
        display: flex;
        justify-content: center;
    }

    /*-------------------Section BMW --------------------------------*/
section {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section > p {
    font-size: 0.8em;
    margin-top: 8%;
    margin-bottom: 3%;
    color: #C1C1C1;
}
section:first-of-type figure, footer > figure {
    width: 100%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section figure a:nth-child(2), footer > figure a:nth-child(2) {
    order: 1;
}

section figure a:nth-child(5), footer > figure a:nth-child(5) {
    order: 3;
}

section figure a:nth-child(7), footer > figure a:nth-child(7) {
    order: 2;
}

section a img, footer > figure a img {
    transform: scale(0.4);
}

.section-bmw {
    margin-top: 3%;
    margin-bottom: 15%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div > h2 {
    margin-top: 6%;
    margin-bottom: -6%;
    font-size: 2em;
    color: rgba(19, 94, 197, 1); 
}

section div figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section div img{ 
    transform: scale(0.5); 
    z-index: 2; 
}
section:first-of-type > div > figure {
    width: 320px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

section:first-of-type > div > figure p {
    top: -2%;
    left: 14%;
    font-size: 3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgb(218, 218, 218, 0.5), 0px 0px 2px rgb(218, 218, 218, 0.5);
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
}

section:first-of-type > div figure p:last-child {
    top: 43%;
    left: 40%;
}   

section figcaption {
    width: 90%;
    margin-top: -7%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div figcaption > p {
    width: 85%;
    margin-bottom: 6%;
    font-size: 0.8em;
    line-height: 125%;
    font-family: 'Open Sans', sans-serif;
    color: #C1C1C1;
}

section:first-of-type figcaption > h2 {
    margin-top: -3%;
    margin-bottom: 0%;
    font-size: 2em;
    color: rgba(19, 94, 197, 1);
    display: none;
}

.button-section {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
}

.button-section:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    transition: all 0.4s ease;
}
/*-------------------Section BMW Add --------------------------------*/
section:nth-of-type(2) {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section:nth-of-type(2) figcaption {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 94, 197, 1);
}

section:nth-of-type(2) figcaption h2 {
    margin-top: 76px;
    margin-bottom: 56px;
    font-size: 1.2em;
    color: white;
}

.button-section-BMW-Add-position-1 {
    margin-bottom: 90px; 
}

.button-section-BMW-Add {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
}

.button-section-BMW-Add:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    transition: all 0.4s ease;
}

section:nth-of-type(2) figure {
    width: 320px;
    margin-top: -114px;
    display: flex;
    justify-content: center;
}

section:nth-of-type(2) figure img {
    transform: scale(0.4);
}

/*-------------------Section Mercedes --------------------------------*/

.section-mercedes {
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mercedes-info {
    width: 320px;
    margin-top: 5%;
    display:flex;
    flex-direction: column; 
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

div.mercedes-info > figcaption {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 94, 197, 1);
    margin-left: 0%;
}

.button-fresh-position-1 {
    top: 0%;
    left: 68%;
    margin-top:0%;
    margin-bottom: 0%;
}

.button-fresh {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7%;
    padding-right: 7%;
    background-color: white;
    border-radius: 30px;
    border-color: rgba(19, 94, 197, 1);
    color: rgba(19, 94, 197, 1);
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    position: absolute;
}

.button-fresh:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    transition: all 0.4s ease;
}

div.mercedes-info > figcaption h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 6.5em;
    color: rgb(22, 99, 206);
    text-transform: uppercase;
}

div.mercedes-info figure {
    margin-top: -24%;
    margin-bottom: 0%;
}

div.mercedes-info figure img {
    transform: scale(0.6);
}

div.mercedes-info p {
    text-align: center;
    font-weight: bold;
}

div.mercedes-info p:nth-of-type(1) {
   
    font-size: 1em;
    color: black;
}

div.mercedes-info p:nth-of-type(2) {
    font-size: 0.6em;
    color: #135EC5;
}

div.mercedes-info p:nth-of-type(3) {
    font-size: 0.8em;
    font-weight: 400;
    color: #C1C1C1;
}

.price {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.price p:nth-of-type(1) {
    
    font-size: 1.2em;
    color: #16AD2C;
}

.button-section-mercedes-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 30px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
}

.button-section-mercedes-2:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    transition: all 0.4s ease;
}

.mercedes-order {
    width: 320px;
    height: 500px;
    margin-top: 5%;
    margin-left: 0%;
    font-weight: bold;
    display:flex;
    flex-direction: column; 
    overflow: hidden;
    background: linear-gradient(to right, white 50%, rgba(19, 94, 197, 1) 50%);
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

.button-fresh-position-2 {
    top: 3.0%;
    left: 63%;
}

div.mercedes-order img {
    position: absolute;
    top: 120px;
    right: -205px;
    transform: scale(0.4);
}
div.mercedes-order > div {
    padding-left: 1%;
    display: flex;
    flex-direction: column;
}

div.mercedes-order > div div:first-child {
    margin-top: 1%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.mercedes-order > div div:nth-child(1) p:nth-of-type(1) {
    font-size: 0.4em;
    color: #E2E2E2;
}

div.mercedes-order > div div:nth-child(1) p:nth-of-type(2) {
    font-size: 1em;
    color: #16AD2C;
}

div.mercedes-order > div div:nth-child(2) {
    width: 44%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    
}

div.mercedes-order > div div:nth-child(2) p:nth-of-type(1) {
    font-size: 0.7em;
    color: #135EC5;
}

div.mercedes-order > div div:nth-child(2) p:nth-of-type(2) {
    font-size: 0.6em;
    font-weight: 400;
    line-height: 230%;
}

.button-section-BMW-Add-position-2 {
    margin-top: 95%;
    margin-left: 0%; 
}
/*-------------------------Footer------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

footer form {
    display: flex;
    justify-content: space-between;
}

.input-footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 6%;
    margin-bottom: 3%;
}

.button-city {
    margin-left: 81%;
    margin-top: 0px;
    float: left;
    background-color: white;
    border: none;
}

.search-footer {
    width: 95%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-right: 3%;
    margin-bottom: 5%;
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-width: 1px;
    border-color: #e6e6e6;
    color: #d6d5d5;
    font-weight: bold;
    border-radius: 0px;
    background-color: white;
    text-transform: none;
    }

    input::placeholder {
        color: #C1C1C1;
    }

    .button-footer {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
        border-color: white;
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-advanced {
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -3%;
        color: white;
        background-color: rgba(19, 94, 197, 1);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-transform: none;
        border-color: rgba(19, 94, 197, 1);
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-position {
        margin-top: 3%;
        margin-bottom: 7%;
        color: rgba(19, 94, 197, 1);
        background-color: white;
        border-radius: 30px;
        text-transform: uppercase;
        transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
    
    .input-footer-advanced {
        padding-top: 3%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(19, 94, 197, 1);
    }
    
    .search-footer-advanced {
        background-color: rgba(19, 94, 197, 1);
        color: #FFFFFF;
        border-color: rgb(26, 120, 252);
    }

    .area-button {
        margin-top: -1%;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(19, 94, 197, 1);
    }

}
@media screen and (min-width: 768px) and (max-width: 999px) {

/*----------------------Header-----------------------------*/
    header {
        min-width: calc(var(--size-w) - 232px);
        max-width: calc(var(--size-w) - 1px);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: black;
        color: white;
    }

    header > div > a  {
        display: none;
    }

    header > div {
        margin-block-start: 0.6em;
        font-size: 0.9em;
        font-style: inherit;
        flex-direction: row;
        justify-content: space-between;
    }

    header > div > figure {
        margin-inline-start: 5%;
    }

    .logo-img {
        transform: scale(0.6);
    }

    header > div > address {
        width: 50%;
        margin-block-start: 1.5em;
        padding-top: 1.2%;
        flex-direction: row;
        justify-content: space-around;
    }

    div address  img {
        width: 33px;
        height: 27px;
        margin-top: -3px;
        margin-left: 30px;
        transform: scale(0.6);
    }

    div > a {
        margin-right: 5%;
    }    

    div address a {
        color: inherit;
    }

    div address a:hover {
        color: #b9b8b8;
        transition: all 0.4s ease;
    }

    .button-log {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 5%;
        background-color: white;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 30px;
        border-width: 0px;
        color: #135EC5;
        font-weight: bold;
        text-transform: uppercase;
    }

    .button-log:hover {
        color: #535353;
        background-color: rgb(228, 226, 226);
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
        transition: all 0.4s ease;
    }    
   
    header > figure {
        width: 95%;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    header figcaption {
        width: 100%;
        position: absolute;
        top: 12%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure > figcaption p {
        width: 100%;
        text-align: center;
        line-height: 108%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 4.6em;
        font-weight: bold;
        color: #131210;
        text-transform: uppercase;
    }

    figure > figcaption p:nth-of-type(n+2) {
        width: 28%;
    }
    header p {
        font-size: 0.9em;
        text-align: center;
    }
    .mers {
        transform: scale(0.53);
    }

    .area-circles {
        top: 24%;
        right: 1%;
        position: absolute;
        z-index: 2;
    }
    
    .circle {
        width: 12px;
        height: 12px;
        margin-top: 18px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(60, 60, 60, 1);
    }
    
    .circle-color {
        background-color: rgba(19, 94, 197, 1);
    }

    nav ul {
        font-size: 1.2em;
        font-weight: bold;
        color: #3C3C3C;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    nav li:hover {
        color: #535353;
        cursor: pointer;
    }

    input {
        padding-top: 8%;
        padding-bottom: 8%;
        margin-top: -7px;
        margin-bottom: 3%;
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        border-width: 0px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
      }

    nav div {
        display: none;
    }

/*-------------------Section BMW --------------------------------*/
section {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section > p {
    font-size: 1em;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #C1C1C1;
}
section:first-of-type figure, footer > figure {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section a img, footer > figure a img {
    transform: scale(0.7);
}

section div > h2 {
    display: none;
    margin-top: 6%;
    margin-bottom: -6%;
    font-size: 2em;
    color: rgba(19, 94, 197, 1); 
}

.section-bmw {
    margin-top: 4%;
    margin-bottom: 6%;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section div figure {
    width: 65%;
}

section div img{
    margin-left: -32%;
    transform: scale(0.6);
    z-index: 2; 
}
section:first-of-type > div > figure {
    width: 520px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

section:first-of-type > div > figure p {
    top: -16%;
    left: 4%;
    font-size: 4em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgb(218, 218, 218, 0.5), 0px 0px 2px rgb(218, 218, 218, 0.5);
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
}

section:first-of-type > div figure  p:last-child {
    top: 29%;
    left: 32%;
}
section > div > figcaption {
    margin-left: -20%;
}

section div figure p {
    width: 95%;
    margin-bottom: 4%;
    font-size: 0.8em;
    line-height: 125%;
    font-family: 'Open Sans', sans-serif;
    color: #C1C1C1;
}

section h2 {
    margin-top: -3%;
    margin-bottom: 0%;
    font-size: 2em;
    color: rgba(19, 94, 197, 1);
}

.button-section {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 0px;
}

.button-section:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    transition: all 0.4s ease;
}
   /*-------------------Section BMW Add --------------------------------*/
   section:nth-of-type(2) {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section:nth-of-type(2) figcaption {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 94, 197, 1);
}

section:nth-of-type(2) figcaption h2 {
    margin-top: 8%;
    margin-bottom: 4%;
    font-size: 2.0em;
    color: white;
}

.button-section-BMW-Add-position-1 {
    margin-top:0%;
    margin-bottom: 15%; 
}

.button-section-BMW-Add {
    width: calc(217px * 0.8);
    height: calc(58px * 0.8);
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
}

.button-section-BMW-Add:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    transition: all 0.4s ease;
}

section:nth-of-type(2) figure {
    margin-top: -14%;
    padding-top: 0%;
    align-items: center;
}

section:nth-of-type(2) figure img {
    transform: scale(0.6);
}

/*-------------------Section Mercedes --------------------------------*/

.section-mercedes {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mercedes-info {
    width: 260px;
    margin-top: 5%;
    display:flex;
    flex-direction: column; 
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

div.mercedes-info > figcaption {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 94, 197, 1);
    margin-left: 0%;
}

.button-fresh-position-1 {
    top: 4%;
    left: 66%;
    margin-top:0%;
    margin-bottom: 0%;
}

.button-fresh {
    width: calc(88px * 0.8);
    height: calc(32px * 0.8);
    background-color: white;
    border-radius: 30px;
    border-color: rgba(19, 94, 197, 1);
    color: rgba(19, 94, 197, 1);
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    position: absolute;
}

.button-fresh:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    transition: all 0.4s ease;
}

div.mercedes-info > figcaption h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 5.3em;
    color: rgb(22, 99, 206);
    text-transform: uppercase;
}

div.mercedes-info figure {
    margin-top: -32%;
    margin-bottom: 0%;
}

div.mercedes-info figure img {
    transform: scale(0.5);
}

div.mercedes-info p {
    text-align: center;
    font-weight: bold;
}

div.mercedes-info p:nth-of-type(1) {
   
    font-size: 1em;
    color: black;
}

div.mercedes-info p:nth-of-type(2) {
    font-size: 0.6em;
    color: #135EC5;
}

div.mercedes-info p:nth-of-type(3) {
    font-size: 0.8em;
    font-weight: 400;
    color: #C1C1C1;
}

.price {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.price p:nth-of-type(1) {
    
    font-size: 1.2em;
    color: #16AD2C;
}

.button-section-mercedes-2 {
    width: calc(195px * 0.8);
    height: calc(52px * 0.8);
    background-color: rgba(226, 226, 226, 1);
    border-radius: 30px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
}

.button-section-mercedes-2:hover {
    color: #C1C1C1;
    border: 2px solid;
    border-color: white;
    transition: all 0.4s ease;
}

.mercedes-order {
    width: 440px;
    height: 530px;
    margin-top: 5%;
    margin-left: 0%;
    font-weight: bold;
    display:flex;
    flex-direction: column; 
    overflow: hidden;
    background: linear-gradient(to right, white 50%, rgba(19, 94, 197, 1) 50%);
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

.button-fresh-position-2 {
    top: 4%;
    left: 80%;
    margin-top:0%;
    margin-bottom: 0%;
}

div.mercedes-order img {
    position: absolute;
    top: 120px;
    right: -198px;
    transform: scale(0.5);
}
div.mercedes-order > div {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

div.mercedes-order > div div:first-child {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.mercedes-order > div div:nth-child(1) p:nth-of-type(1) {
    font-size: 0.6em;
    color: #E2E2E2;
}

div.mercedes-order > div div:nth-child(1) p:nth-of-type(2) {
    font-size: 1.2em;
    color: #16AD2C;
}

div.mercedes-order > div div:nth-child(2) {
    width: 44%;
    margin-top: 24%;
    display: flex;
    flex-direction: column;
    
}

div.mercedes-order > div div:nth-child(2) p:nth-of-type(1) {
    font-size: 1em;
    color: #135EC5;
}

div.mercedes-order > div div:nth-child(2) p:nth-of-type(2) {
    font-size: 0.6em;
    font-weight: 400;
    line-height: 230%;
}

.button-section-BMW-Add-position-2 {
    margin-top: 25%;
    margin-bottom: 0%; 
}
/*-------------------------Footer------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

footer form {
    display: flex;
    justify-content: space-between;
}

.input-footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.button-city {
    margin-left: -7%;
    float: left;
    background-color: white;
    border: none;
}

.search-footer {
    width: 16.5%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-width: 1px;
    border-color: #e6e6e6;
    color: #d6d5d5;
    text-align: left;
    font-weight: bold;
    border-radius: 0px;
    background-color: white;
    text-transform: none;
    }

    input::placeholder {
        color: #C1C1C1;
    }

    .button-footer {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
        border-color: white;
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-advanced {
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -3%;
        color: white;
        background-color: rgba(19, 94, 197, 1);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-transform: none;
        border-color: rgba(19, 94, 197, 1);
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-position {
        margin-top: 3%;
        margin-bottom: 7%;
        color: rgba(19, 94, 197, 1);
        background-color: white;
        border-radius: 30px;
        text-transform: uppercase;
        transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
    
    .input-footer-advanced {
        padding-top: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(19, 94, 197, 1);
    }
    
    .search-footer-advanced {
        width: 15%;
        background-color: rgba(19, 94, 197, 1);
        color: #FFFFFF;
        border-color: rgb(26, 120, 252);
    }

    .area-button {
        margin-top: -1%;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(19, 94, 197, 1);
    }

}
@media screen and (min-width: 1000px) and (max-width: 1440px) {

/*----------------------Header-----------------------------*/
    header {
        min-width: var(--size-w);
        max-width: calc(var(--size-w) + 440px);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: black;
        color: white;
    }

    header > div > a  {
        display: none;
    }

    header > div {
        margin-block-start: 1em;
        font-size: 1em;
        font-style: inherit;
        flex-direction: row;
        justify-content: space-between;
    }

    header > div > figure {
        margin-inline-start: 5%;
    }

    .logo-img {
        transform: scale(0.7);
    }

    header > div > address {
        width: 50%;
        margin-block-start: 1.3em;
        padding-top: 1.1%;
        flex-direction: row;
        justify-content: space-around;
    }

    div address  img {
        width: 33px;
        height: 27px;
        margin-top: -3px;
        margin-left: 80px;
        transform: scale(0.66);
    }

    div > a {
        margin-right: 5%;
    }    

    div address a {
        color: inherit;
    }

    div address a:hover {
        color: #b9b8b8;
        transition: all 0.4s ease;
    }

    .button-log {
        margin-top: 18px;
        margin-bottom: 18px;
        margin-right: 5%;
        background-color: white;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 30px;
        border-width: 0px;
        color: #135EC5;
        font-weight: bold;
        text-transform: uppercase;
    }

    .button-log:hover, .button-section:hover, .button-footer:hover {
        color: #535353;
        background-color: rgb(228, 226, 226);
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
        transition: all 0.4s ease;
    }
   
    header > figure {
        width: 90%;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    header figcaption {
        width: 100%;
        position: absolute;
        top: 3%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure > figcaption p {
        width: 100%;
        text-align: center;
        line-height: 97%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 6.625em;
        font-weight: bold;
        color: #131210;
        text-transform: uppercase;
    }

    figure > figcaption p:nth-of-type(n+2) {
        width: 28%;
    }
    header p {
        font-size: 1.125em;
        text-align: center;
    }
    .mers {
        transform: scale(0.68);
    }

    .area-circles {
        top: 21%;
        right: 1%;
        position: absolute;
        z-index: 2;
    }
    
    .circle {
        width: 12px;
        height: 12px;
        margin-top: 18px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(60, 60, 60, 1);
    }
    
    .circle-color {
        background-color: rgba(19, 94, 197, 1);
    }

    nav ul {
        font-size: 1.875em;
        font-weight: bold;
        color: #3C3C3C;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    nav li:hover {
        color: #535353;
        cursor: pointer;
    }

    input {
        padding-top: 10%;
        padding-bottom: 10%;
        margin-top: -1px;
        margin-bottom: 6%;
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        border-width: 0px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
      }

    nav div {
        display: none;
    }
/*-------------------Section 1 --------------------------------*/
    section {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    section > p {
        font-size: 1.125em;
        margin-top: 4%;
        margin-bottom: 3%;
        color: #C1C1C1;
    }
    section:first-of-type figure:first-of-type, footer > figure{
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    section > div {
        margin-top: 4%;
        margin-bottom: 6%;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section div > h2 {
        display: none;
        margin-top: 6%;
        margin-bottom: -6%;
        font-size: 2em;
        color: rgba(19, 94, 197, 1); 
    }

    section div img {
        transform: scale(0.8);
        align-items: center;
        z-index: 2;
    }

    section:first-of-type figure {
        width: 560px;
        position: relative;
    }

    section:first-of-type figure p {
        top: -41%;
        left: 5%;
        font-size: 6em;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 15px rgb(218, 218, 218, 0.5), 0px 0px 2px rgb(218, 218, 218, 0.5);
        text-transform: uppercase;
        z-index: 1;
        position: absolute;
    }

    section:first-of-type figure p:last-child {
        top: 21%;
        left: 32%;
    }

    section div figcaption p {
        width: 81%;
        margin-bottom: 4%;
        line-height: 125%;
        font-family: 'Open Sans', sans-serif;
        color: #C1C1C1;
    }

    section h2 {
        margin-top: -3%;
        margin-bottom: 0%;
        font-size: 2.8em;
        color: rgba(19, 94, 197, 1);
    }

    .button-section {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 14%;
        padding-right: 14%;
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 0px;
}

    /*-------------------Section 2 --------------------------------*/
    section:nth-of-type(2) {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    section:nth-of-type(2) figcaption {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(19, 94, 197, 1);
    }

    section:nth-of-type(2) figcaption h2 {
        margin-top: 8%;
        margin-bottom: 4%;
        font-size: 2.8em;
        color: white;
    }

    .button-section-BMW-Add-position-1 {
        margin-top:0%;
        margin-bottom: 15%; 
    }

    .button-section-BMW-Add {
        width: 217px;
        height: 58px;
        
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        border-color: white;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 3px;
        border-style: solid;
    }

    .button-section-BMW-Add:hover, .button-fresh:hover {
        color: #C1C1C1;
        border: 2px solid;
        border-color: white;
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
        transition: all 0.4s ease;
    }

    section:nth-of-type(2) figure {
        margin-top: -10%;
        padding-top: 0%;
        transform: scale(1);
        align-items: center;
    }

    section:nth-of-type(2) figure img {
        transform: scale(0.8);
    }

/*-------------------Section 3 --------------------------------*/

    .section-mercedes {
       
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .mercedes-info {
        width: 360px;
        margin-top: 5%;
        margin-left: 0%;
        display:flex;
        flex-direction: column; 
        position: relative;
        box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
    }

    div.mercedes-info > figcaption {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(19, 94, 197, 1);
    }

    .button-fresh-position-1 {
        top: 8%;
        left: 68%;
        margin-top:0%;
        margin-bottom: 0%;
    }

    .button-fresh {
        width: calc(88px * 1.0);
        height: calc(32px * 1.0);
        background-color: white;
        border-radius: 30px;
        border-color: rgba(19, 94, 197, 1);
        color: rgba(19, 94, 197, 1);
        font-weight: bold;
        text-transform: uppercase;
        border-width: 3px;
        border-style: solid;
        position: absolute;
    }

    div.mercedes-info > figcaption h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 7.3em;
        color: rgb(22, 99, 206);
        text-transform: uppercase;
    }

    div.mercedes-info figure {
        margin-top: -23%;
        margin-bottom: 0%;
    }

    div.mercedes-info figure img {
        transform: scale(0.7);
    }

    div.mercedes-info p {
        text-align: center;
        font-weight: bold;
    }

    div.mercedes-info p:nth-of-type(1) {
       
        font-size: 1.3em;
        color: black;
    }

    div.mercedes-info p:nth-of-type(2) {
        font-size: 0.8em;
        color: #135EC5;
    }

    div.mercedes-info p:nth-of-type(3) {
        font-size: 1em;
        font-weight: 400;
        color: #C1C1C1;
    }

    .price {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 6%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    div.price p:nth-of-type(1) {
        
        font-size: 1.5em;
        color: #16AD2C;
    }

    .button-section-mercedes-2 {
        width: 195px;
        height: 52px;
        background-color: rgba(226, 226, 226, 1);
        border-radius: 30px;
        border-color: white;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 3px;
        border-style: solid;
    }

    .button-section-mercedes-2:hover {
        color: #C1C1C1;
        border: 2px solid;
        border-color: white;
        transition: all 0.4s ease;
    }

    .mercedes-order {
        width: 550px;
        height: 600px;
        margin-top: 5%;
        margin-left: 0%;
        font-weight: bold;
        display:flex;
        flex-direction: column; 
        overflow: hidden;
        background: linear-gradient(to right, white 50%, rgba(19, 94, 197, 1) 50%);
        position: relative;
        box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
    }

    .button-fresh-position-2 {
        top: 6%;
        left: 80%;
        margin-top:0%;
        margin-bottom: 0%;
    }

    div.mercedes-order img {
        position: absolute;
        top: 120px;
        right: -170px;
        transform: scale(0.6);
    }
    div.mercedes-order > div {
        padding-left: 2%;
        display: flex;
        flex-direction: column;
    }

    div.mercedes-order > div div:first-child {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div.mercedes-order > div div:nth-child(1) p:nth-of-type(1) {
        font-size: 0.8em;
        color: #E2E2E2;
    }

    div.mercedes-order > div div:nth-child(1) p:nth-of-type(2) {
        font-size: 1.5em;
        color: #16AD2C;
    }
    
    div.mercedes-order > div div:nth-child(2) {
        width: 45%;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
    }

    div.mercedes-order > div div:nth-child(2) p:nth-of-type(1) {
        font-size: 1.3em;
        color: #135EC5;
    }

    div.mercedes-order > div div:nth-child(2) p:nth-of-type(2) {
        font-size: 0.8em;
        font-weight: 400;
        line-height: 250%;
    }

    .button-section-BMW-Add-position-2 {
        margin-top: 25%;
        margin-bottom: 0%; 
    }
/*-------------------------Footer------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

footer form {
    display: flex;
    justify-content: space-between;
}

.input-footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.button-city {
    margin-left: -7%;
    float: left;
    background-color: white;
    border: none;
}

.search-footer {
    width: 15.5%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-width: 1px;
    border-color: #e6e6e6;
    color: #d6d5d5;
    text-align: left;
    font-weight: bold;
    border-radius: 0px;
    background-color: white;
    text-transform: none;
    }

    input::placeholder {
        color: #C1C1C1;
    }

    .button-footer {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
        border-color: white;
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-advanced {
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -3%;
        color: white;
        background-color: rgba(19, 94, 197, 1);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-transform: none;
        border-color: rgba(19, 94, 197, 1);
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-position {
        margin-top: 3%;
        margin-bottom: 7%;
        color: rgba(19, 94, 197, 1);
        background-color: white;
        border-radius: 30px;
        text-transform: uppercase;
        transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
    
    .input-footer-advanced {
        padding-top: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(19, 94, 197, 1);
    }
    
    .search-footer-advanced {
        width: 15%;
        background-color: rgba(19, 94, 197, 1);
        color: #FFFFFF;
        border-color: rgb(26, 120, 252);
    }

    .area-button {
        margin-top: -1%;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(19, 94, 197, 1);
    }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {

 /*----------------------Header-----------------------------*/
    header {
        min-width: calc(var(--size-w) + 441px);;
        max-width: calc(var(--size-w) + 1560px);
        height: 1133px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: black;
        color: white;
    }

    header > div > a  {
        display: none;
    }

    header > div {
        margin-block-start: 1em;
        font-size: 1.125em;
        font-style: inherit;
        flex-direction: row;
        justify-content: space-between;
    }

    header > div > figure {
        margin-inline-start: 5%;
    }

    .logo-img {
        transform: scale(1);
    }

    header > div > address {
        width: 50%;
        margin-block-start: 1.1em;
        padding-top: 1.1%;
        flex-direction: row;
        justify-content: space-around;
    }

    div address  img {
        width: 33px;
        height: 27px;
        margin-top: -3px;
        margin-left: 80px;
        transform: scale(1);
    }

    div > a {
        margin-right: 5%;
    }    

    div address a {
        color: inherit;
    }

    div address a:hover {
        color: #b9b8b8;
        transition: all 0.4s ease;
    }

    .button-log {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 5%;
        background-color: white;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 30px;
        border-width: 0px;
        color: #135EC5;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1em;
    }

    .button-log:hover {
        color: #535353;
        border: 2px solid;
        border-color: #929292;
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
    }
   
    header>figure {
        width: 90%;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    header figcaption {
        width: 100%;
        position: absolute;
        top: -17%;
        
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure > figcaption p {
        width: 100%;
        text-align: center;
        line-height: 97%;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-size: 10em;
        font-weight: bold;
        color: #131210;
        text-transform: uppercase;
    }

    figure > figcaption p:nth-of-type(n+2) {
        width: 28%;
    }
    header p {
        font-size: 1.2em;
        text-align: center;
    }
    .mers {
        transform: scale(1);
    }

    .area-circles {
        top: 16%;
        right: 0%;
        position: absolute;
        z-index: 2;
    }
    
    .circle {
        width: 12px;
        height: 12px;
        margin-top: 18px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(60, 60, 60, 1);
    }
    
    .circle-color {
        background-color: rgba(19, 94, 197, 1);
    }

    nav ul {
        font-size: 1.875em;
        font-weight: bold;
        color: #3C3C3C;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    nav li:hover {
        color: #535353;
        cursor: pointer;
    }

    input {
        padding-top: 12%;
        padding-bottom: 12%;
        margin-top: -1px;
        margin-bottom: 6%;
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        border-width: 0px;
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
      }

    nav div {
        display: none;
    }

    /*-------------------Section 1 --------------------------------*/
    section {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    section > p {
        font-size: 1.2em;
        margin-top: 6%;
        margin-bottom: 5%;
        color: #C1C1C1;
    }
    section:first-of-type figure:first-of-type, footer > figure {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    section a img, footer > figure a img {
        transform: scale(1.15);
    }

    section > div {
        margin-top: 6%;
        margin-bottom: 7%;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section div > h2 {
        display: none;
        margin-top: 6%;
        margin-bottom: -6%;
        font-size: 2em;
        color: rgba(19, 94, 197, 1); 
    }

    section div img{
        transform: scale(1);
        align-items: center;
        z-index: 2;
    }

    section:first-of-type > div > figure {
        width: 1200px;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    section:first-of-type > div > figure p {
        top: -53%;
        left: 16%;
        font-size: 6em;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 15px rgb(218, 218, 218, 0.5), 0px 0px 2px rgb(218, 218, 218, 0.5);
        text-transform: uppercase;
        z-index: 1;
        position: absolute;
    }

    section:first-of-type > div figure  p:last-child {
        top: 29%;
        left: 45%;
    }

    section div figcaption p {
        width: 80%;
        margin-bottom: 7%;
        line-height: 150%;
        font-family: 'Open Sans', sans-serif;
        color: #C1C1C1;
    }

    section h2 {
        margin-top: -4%;
        margin-bottom: 5%;
        font-size: 3.5em;
        color: rgba(19, 94, 197, 1);
    }

    .button-section {
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 14%;
        padding-right: 14%;
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 0px;
}

    .button-section:hover {
        color: #C1C1C1;
        border: 2px solid;
        border-color: white;
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
        transition: all 0.4s ease;
    }

     /*-------------------Section 2 --------------------------------*/
     section:nth-of-type(2) {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    section:nth-of-type(2) figcaption {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(19, 94, 197, 1);
    }

    section:nth-of-type(2) figcaption h2 {
        margin-top: 8%;
        margin-bottom: 4%;
        font-size: 4em;
        color: white;
    }

    .button-section-BMW-Add-position-1 {
        margin-top: 1%;
        margin-bottom: 12%; 
    }

    .button-section-BMW-Add {
        width: 217px;
        height: 58px;
        
        background-color: rgba(19, 94, 197, 1);
        border-radius: 30px;
        border-color: white;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 3px;
        border-style: solid;
    }

    .button-section-BMW-Add:hover {
        color: #C1C1C1;
        border: 2px solid;
        border-color: white;
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
        transition: all 0.4s ease;
    }

    section:nth-of-type(2) figure {
        margin-top: -7%;
        align-items: center;
    }

    section:nth-of-type(2) figure img {
        transform: scale(1.2);
    }

/*-------------------Section 3 --------------------------------*/

    .section-mercedes {
       margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .mercedes-info {
        width: 400px;
        margin-top: 5%;
        margin-left: 0%;
        display:flex;
        flex-direction: column; 
        position: relative;
        box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
    }

    div.mercedes-info > figcaption {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(19, 94, 197, 1);
    }

    .button-fresh-position-1 {
        top: 5%;
        left: 72%;
        margin-top:0%;
        margin-bottom: 0%;
    }

    .button-fresh {
        width: calc(88px * 1.0);
        height: calc(32px * 1.0);
        background-color: white;
        border-radius: 30px;
        border-color: rgba(19, 94, 197, 1);
        color: rgba(19, 94, 197, 1);
        font-weight: bold;
        text-transform: uppercase;
        border-width: 3px;
        border-style: solid;
        position: absolute;
    }

    .button-fresh:hover {
        color: #C1C1C1;
        border: 2px solid;
        border-color: white;
        text-shadow: 0px 0px 2px rgb(160, 160, 160, 0.5), 0px 0px 2px rgb(160, 160, 160, 0.5);
        transition: all 0.4s ease;
    }

    div.mercedes-info > figcaption h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 8em;
        color: rgb(22, 99, 206);
        text-transform: uppercase;
    }

    div.mercedes-info figure {
        margin-top: -19%;
        margin-bottom: 2%;
    }

    div.mercedes-info figure img {
        transform: scale(1);
    }

    div.mercedes-info p {
        text-align: center;
        font-weight: bold;
    }

    div.mercedes-info p:nth-of-type(1) {
       
        font-size: 1.6em;
        color: black;
    }

    div.mercedes-info p:nth-of-type(2) {
        font-size: 1em;
        color: #135EC5;
    }

    div.mercedes-info p:nth-of-type(3) {
        font-size: 1.2em;
        font-weight: 400;
        color: #C1C1C1;
    }

    .price {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 6%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    div.price p:nth-of-type(1) {
        
        font-size: 2em;
        color: #16AD2C;
    }

    .button-section-mercedes-2 {
        width: 195px;
        height: 52px;
        background-color: rgba(226, 226, 226, 1);
        border-radius: 30px;
        border-color: white;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-width: 3px;
        border-style: solid;
    }

    .button-section-mercedes-2:hover {
        color: #C1C1C1;
        border: 2px solid;
        border-color: white;
        transition: all 0.4s ease;
    }

    .mercedes-order {
        width: 870px;
        height: 700px;
        margin-top: 5%;
        margin-left: 0%;
        font-weight: bold;
        display:flex;
        flex-direction: column; 
        overflow: hidden;
        background: linear-gradient(to right, white 50%, rgba(19, 94, 197, 1) 50%);
        position: relative;
        box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
    }

    .button-fresh-position-2 {
        top: 6%;
        left: 80%;
        margin-top:0%;
        margin-bottom: 0%;
    }

    div.mercedes-order img {
        position: absolute;
        top: 152px;
        right: -88px;
        transform: scale(1);
    }
    div.mercedes-order > div {
        padding-left: 3%;
        display: flex;
        flex-direction: column;
    }

    div.mercedes-order > div div:first-child {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div.mercedes-order > div div:nth-child(1) p:nth-of-type(1) {
        font-size: 1em;
        color: #E2E2E2;
    }

    div.mercedes-order > div div:nth-child(1) p:nth-of-type(2) {
        font-size: 2em;
        color: #16AD2C;
    }
    
    div.mercedes-order > div div:nth-child(2) {
        width: 40%;
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        
    }

    div.mercedes-order > div div:nth-child(2) p:nth-of-type(1) {
        font-size: 1.6em;
        color: #135EC5;
    }

    div.mercedes-order > div div:nth-child(2) p:nth-of-type(2) {
        font-size: 1em;
        font-weight: 400;
        line-height: 250%;
    }

    .button-section-BMW-Add-position-2 {
        margin-top: 25%;
        margin-bottom: 0%; 
    }
/*-------------------------Footer------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(245, 245, 245, 0.5), -10px -10px 10px 10px rgb(245, 245, 245, 0.5);
}

footer form {
    display: flex;
    justify-content: space-between;
}

.input-footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.button-city {
    margin-left: -7%;
    float: left;
    background-color: white;
    border: none;
}

.search-footer {
    width: 15%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom-width: 1px;
    border-color: #e6e6e6;
    color: #d6d5d5;
    text-align: left;
    font-weight: bold;
    border-radius: 0px;
    background-color: white;
    text-transform: none;
    }

    input::placeholder {
        color: #C1C1C1;
    }

    .button-footer {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
        border-color: white;
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-advanced {
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -3%;
        color: white;
        background-color: rgba(19, 94, 197, 1);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-transform: none;
        border-color: rgba(19, 94, 197, 1);
        font-weight: bold;
        border-width: 3px;
        border-style: solid;
    }

    .button-footer-position {
        margin-top: 3%;
        margin-bottom: 7%;
        color: rgba(19, 94, 197, 1);
        background-color: white;
        border-radius: 30px;
        text-transform: uppercase;
        transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
    
    .input-footer-advanced {
        padding-top: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgba(19, 94, 197, 1);
    }
    
    .search-footer-advanced {
        width: 15%;
        background-color: rgba(19, 94, 197, 1);
        color: #FFFFFF;
        border-color: rgb(26, 120, 252);
    }

    .area-button {
        margin-top: -1%;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(19, 94, 197, 1);
    }
}